$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@each $breakpoint, $dimension in $grid-breakpoints {
    $breakpointText: "";
    
    @if ($breakpoint == "xs") {
        $breakpointText: ""
    }
    @else {
        $breakpointText: "-" + $breakpoint
    }

    @for $i from 1 through 10 {
        $margin: $i * 0.25rem;
        
        @media screen and (min-width: $dimension) {
            .margin#{$breakpointText}-#{$i} {
                margin: $margin;
            }

            .margin-x#{$breakpointText}-#{$i} {
                margin-left: $margin;
                margin-right: $margin;
            }

            .margin-y#{$breakpointText}-#{$i} {
                margin-top: $margin;
                margin-bottom: $margin;
            }

            .margin-t#{$breakpointText}-#{$i} {
                margin-top: $margin;
            }

            .margin-r#{$breakpointText}-#{$i} {
                margin-right: $margin;
            }
            
            .margin-b#{$breakpointText}-#{$i} {
                margin-bottom: $margin;
            }

            .margin-l#{$breakpointText}-#{$i} {
                margin-left: $margin
            }
        }
    }

    @for $i from 1 through 10 {
        $padding: $i * 0.25rem;
        
        @media screen and (min-width: $dimension) {
            .padding#{$breakpointText}-#{$i} {
                padding: $padding;
            }

            .padding-x#{$breakpointText}-#{$i} {
                padding-left: $padding;
                padding-right: $padding;
            }

            .padding-y#{$breakpointText}-#{$i} {
                padding-top: $padding;
                padding-bottom: $padding;
            }

            .padding-t#{$breakpointText}-#{$i} {
                padding-top: $padding;
            }

            .padding-r#{$breakpointText}-#{$i} {
                padding-right: $padding;
            }
            
            .padding-b#{$breakpointText}-#{$i} {
                padding-bottom: $padding;
            }

            .padding-l#{$breakpointText}-#{$i} {
                padding-left: $padding
            }
        }
    }
}