@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf)
}

@font-face {
    font-family: 'Abril Fatface';
    src: url(fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

.font-roboto {
    font-family: 'Roboto';
}

.font-roboto-mono {
    font-family: 'Roboto Mono';
}

.font-poppins {
    font-family: 'Poppins';
}

.font-raleway {
    font-family: 'Raleway';
}

.font-quicksand {
    font-family: 'Quicksand';
}

.font-abril-fatface {
    font-family: 'Abril Fatface';
}